section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top:20px;
    align-items: flex-start;
    color: azure;
}

div{
    display:flex;
    justify-content: center;
}

#title{
    margin-right:150px;
    font-size:xx-large
}

h3{
    padding:10px;
}
h3.hover{
    cursor: pointer;
}
#blank {
    margin:500px;
}
button {
    background-color: transparent;
    padding: 15px;
    padding-left:50px;
    padding-right:50px;
    border: 3px solid white;
    color:white;
}

button:active {
    color:black;
    background-color: white;
    transition:1s;
}

#launch{
    display:flex;
    flex-direction: column;
    margin-right:1300px;
    justify-content: flex-start;
    ;
}

h4{
    font-size: large;
}

h5{
    font-size: xx-large;
}

body{
    background-image:url("https://sxcontent9668.azureedge.us/cms-assets/assets/CRS_27_vertical_031323_CRS_27_vertical_031323_DSC_2713_desktop_505584d156.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center ;
}
